@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 48 55% 94%;
    --foreground: 145 67% 20%;
    --card: 0 0% 100%;
    --card-foreground: 145 67% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 145 67% 20%;
    --primary: 145 67% 30%;
    --primary-foreground: 48 55% 96%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 88 57% 59%;
    --accent-foreground: 145 67% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 145 20% 80%;
    --input: 145 20% 85%;
    --ring: 145 67% 30%;
    --radius: 0.5rem;
    --sidebar-background: 43 94% 94%;
    --sidebar-foreground: 145 67% 20%;
    --sidebar-primary: 88 57% 59%;
    --sidebar-primary-foreground: 145 67% 15%;
    --sidebar-accent: 145 67% 25%;
    --sidebar-accent-foreground: 48 55% 94%;
    --sidebar-border: 145 67% 25%;
    --sidebar-ring: 88 57% 59%;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 145 67% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 88 57% 59%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 145 67% 30%;
    --sidebar-background: 43 94% 94%;
    --sidebar-foreground: 145 80% 10%;
    --sidebar-primary: 88 57% 59%;
    --sidebar-primary-foreground: 145 67% 15%;
    --sidebar-accent: 145 67% 25%;
    --sidebar-accent-foreground: 48 55% 94%;
    --sidebar-border: 145 67% 25%;
    --sidebar-ring: 88 57% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
